<div class="panel panel-default library-item">
  <div class="panel-heading">
      <h3 class="panel-title">{{article.title}}</h3>
  </div>
  <div class="panel-body">
    <a href="{{article.url}}">
      <img src="{{article.urlToImage}}" class="image" alt="" height="100em">
    </a>
  </div>
  <div class="panel-footer">
      <div>{{article.author}}</div>
      <div><small>{{caps article.source}}</small></div>
  </div>
</div>
